<%- include("../partials/header"); -%>

<% posts.forEach((post)=>{ %>

    <h1 style="text-align: center;"><%=post.title %></h1>
    <p>
        <%if (post.content.length > 200){ %>
        <%=post.content.substring(0,200) + " ..."%><a href="/posts/<%=post._id%>">Read More</a>
    <% }else{ %>
        <%=post.content%>
        <%}%>
    </p>
    <img src="<%=post.imageUrl%>" alt="" width="300px" height="300px">
    <form action="/admin/deletepost" method="post">
        <input type="hidden" name="postId" value="<%=post._id%>">
        <input type="hidden" name="postDelete" value="<%=post.deleted%>">
        <%if(post.deleted === true){%>
        <button type="submit" class="button">Przywróć post</button>
       <% }else{%>
        <button type="submit" class="button">Usuń post</button>
        <%}%>

    </form>
    <hr/>
<% }); %>

<%- include("../partials/footer"); -%>