<%- include("partials/header"); -%>

<section id="announcements">
    <div class="container">
        <div class="announcements-box">
            <% announce.forEach(announce => {%>

            <h2><%=announce.title%></h2>
            <p><%-announce.content%></p>
            <p><%=announce.date.toLocaleDateString();%></p>
        </div>
        <%});%>
 </div>
</section>
<section id="blog">
    <div class="container">
    <h2>Blog</h2>
</div>
    <% if (posts.length <5) { %>
        <% posts.reverse() %>
        <% posts.forEach(post => {%>
    <div class="blog-container">
        <div class="blog-box container">
            <div class="blog-image">
                <img src="<%=post.imageUrl%>" alt="Blog-Image" width="100px" height="100px">
            </div>
            <div class="blog-text">
                <h2><%=post.title %></h2>
                <p><%-post.content.substring(0,250) + " ..."%></p>
                <a href="/posts/<%=post._id%>#post"><button class="button">Czytaj więcej</button></a>
            </div>
        </div>
    </div>
       <% }); %>
    <%} else {%>
        <% for(let i=posts.length-1 ; i>=posts.length-5; i--){ %>
            <%const post = posts[i]%>
        <div class="blog-container">
            <div class="blog-box container">
                <div class="blog-image">
                    <img src="<%=post.imageUrl%>" alt="Blog-Image" width="100px" height="100px">
                </div>
                <div class="blog-text">
                    <h2><%=post.title %></h2>
                    <p><%-post.content.substring(0,250) + " ..."%></p>
                    <a href="/posts/<%=post._id%>#post"><button class="button">Czytaj więcej</button></a>
                </div>
            </div>
        </div>
        <% }; %>
        <%}%>
<div class="read-more-container">
    <div class="read-more container">
        <a href="/blog"><button class="button">Wszystkie posty</button></a>
    </div>
</div>
</section>
<section id="work">
    <div class="work-container">
    <div class="container">
        <h2>Czym się zajmujemy?</h2>
        <div class="work-flex">
        <div class="work-box">
            <a href="#"><button class="button-second">Details</button></a>
        </div>
        <div class="work-box img2">
            <a href="#"><button class="button-second">Details</button></a>
        </div>
    </div>
    </div>
</div>
</section>
<section id="services">
    <div class="container services-container">
        <div class="services-box">
            <img src="/virtual.png" alt="virtual" width="96px" height="96px">
            <h3>Wirtualizacja Serwerów</h3>
            <p>Zrewolucjonizuj swoją infrastrukturę IT dzięki wirtualizacji serwerów. AdminWare specjalizuje się w tworzeniu elastycznych i efektywnych środowisk wirtualnych, redukując koszty operacyjne i zwiększając skalowalność. Dzięki naszym rozwiązaniom wirtualizacyjnym, zyskasz wydajność, elastyczność i pełną kontrolę nad zasobami serwerowymi.</p>
        </div>
        <div class="services-box">
            <img src="/tech.png" alt="virtual" width="96px" height="96px">
         <h3>Wsparcie Techniczne</h3>               
         <p>Zapewniamy nieprzerwane wsparcie techniczne, by Twój biznes działał bez zakłóceń. Nasza wykwalifikowana ekipa inżynierów jest gotowa rozwiązywać problemy, monitorować systemy oraz udzielać pomocy w dowolnej chwili. Niezależnie od skomplikowanego wyzwania, możesz polegać na naszym szybkim i profesjonalnym wsparciu.</p>
        </div>
        <div class="services-box">
            <img src="/it.png" alt="virtual" width="96px" height="96px">
            <h3>Modernizacja Infrastruktury IT.</h3>
            <p>Czasami zmiana to klucz do rozwoju. AdminWare oferuje kompleksową modernizację infrastruktury IT, dostosowując ją do najnowszych standardów i wymagań biznesowych. Wdrażamy nowoczesne technologie, optymalizujemy procesy i tworzymy solidne fundamenty pod cyfrową przyszłość Twojej firmy.</p>
        </div>
    </div>
</section>
<div class="services-footer container">
    <h2>Pracujmy razem nad Twoim kolejnym projektem</h2>
    <p>Razem tworzymy przyszłość. Współpracuj z nami nad Twoim następnym projektem, a doświadczysz profesjonalizmu, innowacji i skutecznej realizacji pomysłów. Osiągnij cele razem z naszym doświadczonym zespołem, gotowym podjąć się każdego wyzwania.</p>
    <a href="/contact"><button class="button">Napisz wiadomość</button></a>
</div>


<%- include("partials/footer"); -%>