<%- include("partials/header"); -%>

<section id="post">
    <div class="container">
        <a href="/blog"><i class="fa-solid fa-arrow-left"></i> Wróć do postów</a>
        <div class="post-header">
        <h2><%=title%></h2>
        </div>
        <div class="post-image">
        <img src="<%=image%>" alt="Post-image">
        </div>
        <div class="post-content">
            <p><%-content%></p>
            <p>Opublikowano: <%=date.toLocaleDateString()%></p>

        </div>

    </div>
</section>
<%- include("partials/footer"); -%>